{% include 'header.twig'%}

<div class="container mx-auto mt-10">
    <div class="flex shadow-md my-10">
        <div class="w-3/4 bg-white px-10 py-10">
            <div class="flex justify-between border-b pb-8">
                <h1 class="font-semibold text-2xl">Shopping Cart</h1>
                <h2 class="font-semibold text-2xl">
                    <span id="productsQuantity">
                        {{ cart.getItems()|length }}
                    </span> Items</h2>
            </div>
            <div class="flex mt-10 mb-5">
                <h3 class="font-semibold text-gray-600 text-xs uppercase w-2/5">Product Details</h3>
                <h3 class="font-semibold text-center text-gray-600 text-xs uppercase w-1/5 text-center">Price</h3>

            </div>

            {% for product in cart.getItems() %}

            <div class="flex items-center hover:bg-gray-100 -mx-8 px-6 py-5">
                <div class="flex w-2/5"> <!-- product -->
                    <div class="flex flex-col justify-between ml-4 flex-grow">
                        <span class="font-bold text-xl">{{ product.name }}</span>
                        <span class="text-xs">{{ product.manufacturer }}</span>
                        <span class="text-xs">Category: {{ product.category }}</span>
                    </div>
                </div>

                <span class="text-center text-green-500 w-1/5 font-semibold text-sm">$ {{ product.cost }}</span>
            </div>

                <table>
                    <tr>
                        <th class="px-5">
                            <span class="text-sm">Services to add:</span>
                        </th>
                        <th class="px-5">
                            <span class="text-sm">Cost:</span>
                        </th>
                        <th class="px-5">
                            <span class="text-sm">Duration (days):</span>
                        </th>
                    </tr>
                    {% for service in services %}
                        {% if service.category == product.category %}
                            <tr class="border-b-2">
                                <td class="px-5">
                                    <span class="text-xs">{{ service.type|capitalize }}</span>
                                </td>
                                <td class="px-5">
                                    <span class="text-xs">$</span><span class="text-xs">{{ service.cost|capitalize }}</span>
                                </td>
                                <td class="px-5">
                                    <span class="text-xs">{{ service.deadline|capitalize }}</span>
                                </td>

                                <td>
                                    <button id="serviceAdd{{ service.id }}" onclick="addService(this, {{ service.id }}, {{ product.id }})"
                                            class="bg-green-400 w-20 font-semibold hover:bg-indigo-600 text-xs text-white"
                                            {% if product.getServices[service.id] is defined %} hidden="hidden" {% endif %}>Add</button>
                                    <button id="serviceRemove{{ service.id }}" onclick="removeService(this, {{ service.id }}, {{ product.id }})"
                                            class="bg-red-400 w-20 font-semibold hover:bg-indigo-600 text-xs text-white"
                                            {% if product.getServices[service.id] is not defined %} hidden="hidden" {% endif %}>Remove</button>
                                </td>

                            </tr>
                        {% endif %}
                    {% endfor %}

                </table>


            <button id="{{ product.id }}" onclick="removeFromCart(this)"
                    class="bg-red-400 w-20 font-semibold hover:bg-indigo-600 text-xs text-white">Remove</button>

            {% endfor %}

            <a href="/" class="flex font-semibold text-indigo-600 text-sm mt-10">

                <svg class="fill-current mr-2 text-indigo-600 w-4" viewBox="0 0 448 512"><path d="M134.059 296H436c6.627 0 12-5.373 12-12v-56c0-6.627-5.373-12-12-12H134.059v-46.059c0-21.382-25.851-32.09-40.971-16.971L7.029 239.029c-9.373 9.373-9.373 24.569 0 33.941l86.059 86.059c15.119 15.119 40.971 4.411 40.971-16.971V296z"/></svg>
                Continue Shopping
            </a>
        </div>

        <div id="summary" class="w-1/4 px-8 py-10 bg-white mx-5">
            <h1 class="font-semibold text-2xl border-b pb-8">Order Summary</h1>

            <table class="text-gray-700">
                {% for product in cart.getItems() %}
                <tr>
                    <td class="text-xl font-bold">{{ product.name }}</td>
                    <td class="px-5">
                        <span>$</span>{{ product.cost }}
                    </td>
                </tr>
                    {% for service in product.getServices() %}
                            <tr class="border-b-2">
                                <td class="px-5">
                                    <span class="text-xs">{{ service.type|capitalize }}</span>
                                </td>
                                <td class="px-5">
                                    <span class="text-xs">$</span><span class="text-xs">{{ service.cost|capitalize }}</span>
                                </td>

                            </tr>
                    {% endfor %}

                <tr class="border-b-4">
                    <td class="text-sm font-semibold">Subtotal:</td>
                    <td class="px-5"><span>$</span>{{ product.cost + product.servicesSubtotal() }}</td>
                </tr>
                {% endfor %}


                <tr>
                <td>
                    <span class="text-2xl font-bold">Total:</span>
                </td>
                <td>
                    <span class="text-right text-2xl font-bold text-green-600">$</span>
                    <span id="total" class="text-2xl font-bold text-green-600">{{ cart.total() }}</span>
                </td>
                </tr>
            </table>
            <div class="my-10 w-auto">
            <button id="" {% if user == 0 %} hidden="hidden" {% endif %}
                    class="w-1/3 bg-blue-400 text-white p-1 rounded border border-gray-300 mr-3 hover:bg-gray-100 hover:text-gray-700">
                Order</button>
            </div>
        </div>

    </div>
</div>

<script>

    function removeFromCart(elem) {

        const response = removeProduct("cart/" + elem.id);
        response.then((result) => {
            if (result.status === true && result.quantity > 0) {
                window.location.replace(result.redirect_uri);
            } else
                window.location.replace('/');
        });

    }
        async function removeProduct(url = '') {
            const response = await fetch(url, {
                method: 'delete',
            });
            return response.json();
        }


    function addService(elem, serviceId, productId) {

        const response = serviceAdd("cart/service/" + serviceId, productId);
        response.then((result) => {
            if (result.status === true) {
                window.location.replace(result.redirect_uri);
            } else
                window.location.replace('/');
        });

    }
        async function serviceAdd(url = '', productId) {
            const response = await fetch(url, {
                method: 'post',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8'
                },
                body: JSON.stringify({'productId':productId})
            });
            return response.json();
        }


    function removeService(elem, serviceId, productId) {

        const response = serviceRemove("cart/service/" + serviceId, productId);
        response.then((result) => {
            if (result.status === true) {
                window.location.replace(result.redirect_uri);
            } else
                window.location.replace('/');
        });

    }
        async function serviceRemove(url = '', productId) {
            const response = await fetch(url, {
                method: 'delete',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8'
                },
                body: JSON.stringify({'productId':productId})
            });
            return response.json();
        }
</script>

{% include 'footer.twig' %}