{% include 'header.twig'%}

<div class="container mx-auto mt-10">
    <div class="flex shadow-md my-10">
        <div class="w-3/4 bg-white px-10 py-10">
            <div class="flex justify-between border-b pb-8">
                <h1 class="font-semibold text-2xl">Shopping Cart</h1>
                <h2 class="font-semibold text-2xl">
                    <span id="productsQuantity">
                        {{ cart|length }}
                    </span> Items</h2>
            </div>
            <div class="flex mt-10 mb-5">
                <h3 class="font-semibold text-gray-600 text-xs uppercase w-2/5">Product Details</h3>
                <h3 class="font-semibold text-center text-gray-600 text-xs uppercase w-1/5 text-center">Quantity</h3>
                <h3 class="font-semibold text-center text-gray-600 text-xs uppercase w-1/5 text-center">Price</h3>
                <h3 class="font-semibold text-center text-gray-600 text-xs uppercase w-1/5 text-center">Total</h3>
            </div>

            {% for product in cart %}

            <div class="flex items-center hover:bg-gray-100 -mx-8 px-6 py-5">
                <div class="flex w-2/5"> <!-- product -->
                    <div class="flex flex-col justify-between ml-4 flex-grow">
                        <span class="font-bold text-xl">{{ product.name }}</span>
                        <span class="text-xs">{{ product.manufacturer }}</span>
                        <span class="text-xs">Category: {{ product.category }}</span>
                    </div>
                </div>
                <div class="flex justify-center w-1/5">
                    <div class="inline-flex items-center mt-2">
                        <button id="minus" onclick="decreaseQuantity('quantity{{ product.id }}', 'cost{{ product.id }}', {{ product.cost }})"
                                class="bg-white rounded-l border text-gray-600 hover:bg-gray-100 active:bg-gray-200 disabled:opacity-50 inline-flex items-center px-2 py-1 border-r border-gray-200"
                        >
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="h-6 w-4"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor"
                            >
                                <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M20 12H4"
                                />
                            </svg>
                        </button>
                        <div
                                class="bg-gray-100 border-t border-b border-gray-100 text-gray-600 hover:bg-gray-100 inline-flex items-center px-4 py-1 select-none"
                        >

                            <input class="w-5" type="text" id="quantity{{ product.id }}" value="1" readonly onclick="">
                        </div>
                        <button id="plus" onclick="addQuantity('quantity{{ product.id }}', 'cost{{ product.id }}', {{ product.cost }})"
                                class="bg-white rounded-r border text-gray-600 hover:bg-gray-100 active:bg-gray-200 disabled:opacity-50 inline-flex items-center px-2 py-1 border-r border-gray-200"
                        >
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="h-6 w-4"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor"
                            >
                                <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M12 4v16m8-8H4"
                                />
                            </svg>
                        </button>
                    </div>
                </div>
                <span class="text-center text-green-500 w-1/5 font-semibold text-sm">$ {{ product.cost }}</span>
                <span id="cost{{ product.id }}" class="text-center text-green-700 w-1/5 font-semibold text-sm">$ {{ product.cost }}</span>
            </div>

                <table>
                    <tr>
                        <th class="px-5">
                            <span class="text-sm">Services to add:</span>
                        </th>
                        <th class="px-5">
                            <span class="text-sm">Cost:</span>
                        </th>
                        <th class="px-5">
                            <span class="text-sm">Duration (days):</span>
                        </th>
                    </tr>
                    {% for service in services %}
                        {% if service.category == product.category %}
                            <tr>
                                <td class="px-5">
                                    <span class="text-xs">{{ service.type|capitalize }}</span>
                                </td>
                                <td class="px-5">
                                    <span class="text-xs">$</span><span class="text-xs">{{ service.cost|capitalize }}</span>
                                </td>
                                <td class="px-5">
                                    <span class="text-xs">{{ service.deadline|capitalize }}</span>
                                </td>

                                <td>
                                    <button id="{{ product.id }}" onclick="removeFromCart(this)"
                                            class="bg-green-400 w-20 font-semibold hover:bg-indigo-600 text-xs text-white">Add</button>
                                    <button id="{{ product.id }}" onclick="removeFromCart(this)"
                                            class="bg-red-400 w-20 font-semibold hover:bg-indigo-600 text-xs text-white">Remove</button>
                                </td>

                            </tr>
                        {% endif %}
                    {% endfor %}

                </table>


            <button id="{{ product.id }}" onclick="removeFromCart(this)"
                    class="bg-red-400 w-20 font-semibold hover:bg-indigo-600 text-xs text-white">Remove</button>

            {% endfor %}

            <a href="/" class="flex font-semibold text-indigo-600 text-sm mt-10">

                <svg class="fill-current mr-2 text-indigo-600 w-4" viewBox="0 0 448 512"><path d="M134.059 296H436c6.627 0 12-5.373 12-12v-56c0-6.627-5.373-12-12-12H134.059v-46.059c0-21.382-25.851-32.09-40.971-16.971L7.029 239.029c-9.373 9.373-9.373 24.569 0 33.941l86.059 86.059c15.119 15.119 40.971 4.411 40.971-16.971V296z"/></svg>
                Continue Shopping
            </a>
        </div>

        <div id="summary" class="w-1/4 px-8 py-10 bg-white mx-5">
            <h1 class="font-semibold text-2xl border-b pb-8">Order Summary</h1>
            <div class="flex justify-between mt-10 mb-5">
                <span class="font-semibold text-sm uppercase">Items 3</span>
                <span class="font-semibold text-sm">590$</span>
            </div>

            <div class="border-t mt-8">
                <div class="flex font-semibold justify-between py-6 text-sm uppercase">
                    <span>Total cost</span>
                    <span>$600</span>
                </div>
                <button class="bg-indigo-500 font-semibold hover:bg-indigo-600 py-3 text-sm text-white uppercase w-full">Checkout</button>
            </div>
        </div>

    </div>
</div>

<script>

    function addQuantity(id, costid, cost) {
        document.getElementById(id).value++;
        document.getElementById(costid).innerHTML = '$ '+ document.getElementById(id).value * cost;

    }
    function decreaseQuantity(id, costid, cost) {
        if(document.getElementById(id).value >=2) {
            document.getElementById(id).value--;
            document.getElementById(costid).innerHTML = '$ '+ document.getElementById(id).value * cost;

        }
    }

    function removeFromCart(elem) {

        const response = removeProduct("cart/" + elem.id);
        response.then((result) => {
            if (result.status === true && result.quantity > 0) {
                window.location.replace(result.redirect_uri);
            } else
                window.location.replace('/');
        });

    }
    async function removeProduct(url = '') {
        const response = await fetch(url, {
            method: 'delete',
        });
        return response.json();
    }
</script>

{% include 'footer.twig' %}